build
build3
.idea
message.txt
config.txt
favorites.txt
presets.xml
*.o
*.a
*~
Debug
Release
tsunami
ipch
Tsunami.suo
Tsunami.sdf
Tsunami.opensdf
Test/ringbuffer
gui/TRANS
static/Midi Fonts/*
*.exe
*.dll
*.nami
*.wav
*.ogg
*.midi

