[Desktop Entry]
#Encoding=UTF-8
#Version=1.0
Type=Application
Name=Tsunami Audio Editor
Name[de]=Tsunami Audio-Editor
Comment=Edits Audio Files
Comment[de]=Editor für Audio-Dateien
Categories=AudioVideo;Audio
Exec=tsunami
Icon=/usr/local/share/tsunami/icon.svg
MimeType=application/michisoft-nami;application/ogg;audio/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/x-wav;application/flac;application/x-flac;audio/x-flac;audio/flac;audio/midi;audio/mpeg3;audio/x-mpeg;audio/x-mpeg-3;audio/x-gtp;audio/mp4a-latm
