[Desktop Entry]
Encoding=UTF-8
#Version=1.0
Type=Application
Name=Tsunami Audio Editor
Name[de]=Tsunami Audio-Editor
Comment=Edits Audio Files
Comment[de]=Editor für Audio-Dateien
Categories=AudioVideo;Audio
Exec=/usr/bin/tsunami
Icon=/usr/share/tsunami/Data/icon.svg
MimeType=application/michisoft-nami;application/ogg;audio/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/x-wav;application/flac;application/x-flac;audio/x-flac;audio/flac;audo/midi;audio/x-mpeg;audio/x-gtp
